# ================================
# Base de données PostgreSQL
# ================================
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# ================================
# JWT
# ================================
JWT_SECRET=
JWT_EXPIRATION=

# ================================
# AWS S3
# ================================
AWS_BUCKET=
AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# ================================
# Grafana
# ================================
GRAFANA_USER=
GRAFANA_PASSWORD=